*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}
.container{
	position: relative;
}

/*Navbar*/
.navbar{
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.container a{
	color: white;
	font-size: 18px;
}
.nav-sec{
	position: absolute;
	right: 1px;	
}
.navbar-toggler{
	background-color: white;
}

/* home */

#home{
	display: flex;
	height: 900px;
	justify-content: center;
	align-items: center;
	color: white;
	height: 95.5vh;
	
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6) url('images/004369.jpg')no-repeat center center/cover;
	background-blend-mode: darken;
    height: 100vh;
    width: 100%;
    z-index: -1; 
    opacity: .8;
}

.main{
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	margin-left: 300px;
	border-radius: 30px;
	padding: 20px;
	
}
.heading{
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.btn{
	padding: 5px 15px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	outline: none;
	transition: .6s ease;
	
}
.btn:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
	font-weight: bold;
}

/*About me  */
.about-head{
	margin-top: 20px;
}
.about-container{
	margin: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}
.img-about{
	background-color: rgb(199, 144, 250);
	width: 500px;
}
.img-about img{
	width: 100%;
}

/* portfolio */
.gallery{
	display: flex;
	justify-content: center;
}

.gallery-img{
	width: 350px;
	height: 200px;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	gap: 20px;
	margin:20px 0;
	
}


.gallery-img img{
	width: 100%;
	object-fit: cover;
	transition:all 1s;
}

.gallery img:hover{
	transform: scale(1.1);
 }
/* services */

.SER{
	font-size: 52px;
	

}
.head{
   font-size: 25px;
   margin-top: 20px;
}

.head2{
   font-size: 18px;
   margin-top: 40px;
}
#services{
	display: flex;
	flex-direction: column;
	margin: 50px 0;
	
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.box{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 350px;
	border: 0.5px solid rgba(0, 0, 0, 0.6);
	/* margin: 10px; */
	padding: 10px;
	align-items: center;
	text-align: justify;
	padding: 10px;
	background: linear-gradient(to top, rgb(455, 45, 45) 50%, white 50%);
	background-size: 100% 200%;
	transition: all .8s;
}

.box:hover{
		background-position: left bottom;
		color: white;
		border: none;
		box-shadow: 0 0 20px rgb(455,45, 45);
		transform: scale(1.1);
}
.container-box{
	margin: 20px 0;
}

/* contact form */
.cout{
	font-size: 60px;
	margin-bottom: 20px;
}
#contact{
	background-color: black;
	height: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
}
.form{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	gap: 20px;
}
.form input{
	width: 500px;
	height: 40px;
	padding: 20px;
	transition:all 1s ;
}
.form input:hover{
	transform: scale(1.1);

}
.form-btn{
	font-size: 20px;
	padding: 5px 40px;
	border: none;
	cursor: pointer;
	transition: all 1.1s;

}
.form-btn:hover{
	box-shadow: 0 0 2px white,0 0 10px white,0 0 15px white;
	font-weight: 200;
}

@media (max-width: 768px){
	#home{
		height: 600px;
	}
	
	#home::before{
		display: flex;
		background: rgba(0, 0, 0, 0.7) url('images/004369.jpg')no-repeat center center/cover;
		/* height: 500px; */
		/* width: 100wh; */
		/* background-size: auto; */
		object-fit: cover;
	}
	.main{
		width: 280px;
		position: absolute;
		bottom: 20%;
		right: 20%;
		display: flex;
		margin: auto;
	}
	.heading{
		font-size: 20px;
		
	}

	/* container-about */
	#about{
		margin-top: 160px;
		display: flex;
		flex-direction: column;
	}
	.img-about{
		width: 350px;
		background-color: white;
	}
	.about-container{
		display: flex;
		/* background-color: red;	 */
	}
	.img-about img{
		
		width: 100%;
		
		object-fit: cover;
		margin-bottom: 20px;
	}
	.name{
		font-size: 30px;
	}
	.about-desc{
		width: 80%;
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 20px;
	}
	/* portfolio */
	.gallery{
		display: flex;
		margin: 0 auto;
	}
	.gallery-img{
		width: 400px;
		height: 200px;
		display: flex;
		flex-direction:row;
		margin: 0 auto;
		justify-content: space-between;
		gap: 20px;
		margin:20px 0;
		
	}
	/* services */
	.SER{
		font-size: 26px;
	}
	.container-box{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
	.box{
		width: 300px;
		display: block;
		margin-top:25px ;
	}
	/* form */
	.form input{
		width: 200px;
	}
	.form textarea{
		width: 200px;
	}

}